<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css-otpremnice/main.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Otpremnice</title>
</head>
<body>

		<div class="navigation">
							<ul> 
								<li><a href="#" class="stampa">Štampaj</a></li>
								<li><a href="#" class="arhiva">Arhiviraj</a></li>
								<li><a href="#" class="storn">Storniraj</a></li>
								<li><a href="#" class="nazad">Nazad</a></li>
								<br />
								<li><a href="#" class="odjava">Odjavi me</a></li>
								
							</ul> 
				</div>


        <div class="wrapper">

            <div class="header">

                        <div class="logo-pict">
                            <img src="img/papagaj.jpg" width="100" height="100">
                        </div>

                        <div class="logo">
                            <img src="img/ermex.png">
                        </div>

                        <div class="heder-text">
                            <p>Ermex d.o.o. Istočno Sarajevo</p>
                            <p> Štamparija: Vojkovići, Ul II sarajevske brigade br80, tel. 057 350 007 </p>
                            <p>Knjižara: Tržni centar "Tom", ul. V.R. Putnika br. 38, tel. 067 318 323</p>
                            <p>ermexdoo@gmail.com</p>
                        </div>
						
					

            </div>
           


            <div class="under-line"> 
                <p>PDV 400510070006, JIB 4400510070006, Registarski Osnovni sub Sokolac Br. rješenja U-860/05 U1-351</p>
                <p>Nova Banka 5550020027664417, Unicredit Bank 5510680001826845, NLB Bank 5620120000293238</p>
            </div>
            
				
				
				
			<div class="interior-job"> 
					<div class="interior-job1">
						
						<p>Broj otpremnice: </p>
						<p>Datum i vrijeme kreiranja: </p>
						<p>Autor: </p> 
						</div>
						
						<div class="interior-job2">  
						<p>Način plaćanja: </p>
						<p>Kupac: </p>
						<p>Cijena:</p> 
						</div>
						
						
						
						
			</div>




            	
				<table border="1" class="table2">
				  	 <tr> 
				    		<th class="br">Redni Broj</th>
				    		<th class="opis">OPIS</th>
				    		<th class="jedinica-mjere">Jedinica Mjere</th>
				    		<th class="kolicina">Količina</th>
				 	 </tr>
				  
				  		<tr>
				    		<td>1</td>
				    		<td>papir</td>
				    		<td>1kg</td>
				    		<td>100</td>
						</tr>
			
					</table>


<!--specifikacija
	
	Otpremnica sadrži:

    Broj otpremnice-
    Datum i vrijeme kreiranja-
    Radnik koji je kreirao otpremnicu-
    
    Spisak proizvoda (radnih naloga) koji se otpremljuju-
    Količina svakog proizvoda koji se otpremljuje-
    Kome je izdata otpremnica-
    Način plaćanja (virmanski ili gotovinsko)-
    Cijena-
    Napomena-

Prilikom kreiranja otpremnice, automatski se dodjeljuje broj radnog naloga i datum i vrijeme kreiranja. Broj radnog naloga će se biti automatski, inkrementalan po šablonu OTredni broj-mjesec/godina, stim da se redni broj resetuje mjesečno.

Kada se zaključi otpremnica ona se može samo stornirati. Ne može se ništa promjeniti na njoj. Otpremnicu je moguće arhivirati, nakon što je izdat račun.

Moguće je štampanje otpremnica. Primer otpremnice se nalazi u resursima
	
	--->
			

    </div> 
</body>
</html>