/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Button
   ========================================================================== */

button, .button {
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: .0625rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    /*     @else                            { font-size: $padding - rem-calc(2); } */
    background-color: #008cba;
    border-color: #0079a1;
    color: white;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    padding-top: 1.0625rem;
    padding-bottom: 1rem;
    -webkit-appearance: none;
    border: none;
    font-weight: normal !important; }
button:hover, button:focus, .button:hover, .button:focus {
    background-color: #0079a1; }
button:hover, button:focus, .button:hover, .button:focus {
    color: white; }
button.secondary, .button.secondary {
    background-color: #e7e7e7;
    border-color: #dadada;
    color: #333333; }
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
    background-color: #dadada; }
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
    color: #333333; }
button.success, .button.success {
    background-color: #43ac6a;
    border-color: #3c9a5f;
    color: white; }
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
    background-color: #3c9a5f; }
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
    color: white; }
button.alert, .button.alert {
    background-color: #f04124;
    border-color: #ea2f10;
    color: white; }
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
    background-color: #ea2f10; }
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
    color: white; }
button.large, .button.large {
    padding-top: 1.125rem;
    padding-right: 2.25rem;
    padding-bottom: 1.1875rem;
    padding-left: 2.25rem;
    font-size: 1.25rem;
    /*     @else                            { font-size: $padding - rem-calc(2); } */ }
button.small, .button.small {
    padding-top: .475rem;
    padding-right: .75rem;
    padding-bottom: .5375rem;
    padding-left: .75rem;
    font-size: 1rem;
    /*     @else                            { font-size: $padding - rem-calc(2); } */ }
button.tiny, .button.tiny {
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem;
    /*     @else                            { font-size: $padding - rem-calc(2); } */ }
button.expand, .button.expand {
    padding-right: 0;
    padding-left: 0;
    width: 100%; }
button.left-align, .button.left-align {
    text-align: left;
    text-indent: 0.75rem; }
button.right-align, .button.right-align {
    text-align: right;
    padding-right: 0.75rem; }
button.radius, .button.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px; }
button.round, .button.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px; }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.paper {
	width: 210mm; 
	height: 297mm;
	margin: 5mm auto;
    overflow: hidden;
}
.main-content {
  	position:relative;  
  	height: 100%;
    width: 100%;
}
.full-width {
	width: 100%;
}
.half-width {
	width: 50%;	
}
.width-70 {
    width: 70%;
}
.width-50 {
    min-width: 50%;
}
.width-20 {
    width: 20%;
}
.width-12 {
    min-width: 12%;
}
.width-7 {
    min-width: 7%;
}
.float-left {
   float: left;
  }
.float-right {
	float:right;
}
.margins {
	margin-top:5mm;
	margin-bottom:5mm;
}
.borders {
	border: .5mm solid black;
}
.container {
    width: 209mm;
    border: .75mm solid black;
}
.table-container {
    width: 210mm;
}
.table-container-medium {
    width: 140mm;
}
.table-container-small {
    width: 105mm;
}
    .table-container-small th {
        text-align: left;
    }
.inner-container {
    padding: 0;
    margin: 0;
}
.table-container table,
.table-container-small table,
.table-container-medium table{
    border: .75mm solid black;
    font-size: 0.9rem;
    width: 100%;
}
.text-container {
    padding: 2mm;
    margin: 0;
}
table {
    border: none;
}
td, th {
    padding: 2mm;
    border: 0.5mm solid black;
}
.print-menu {
    float: right;
    padding-right: 5mm;
}
.payee-name {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: .25rem;
}
th {
    font-size: .8rem;
}
strong {
    font-size: .9rem;
}

/* RADNI NALOG */


.rn-serial {
    font-size: 1.2rem;
}
    .rn-serial strong {
        font-size: 1.1rem;
    }
.user {
	border-bottom: .5mm solid black;
    border-left: .5mm solid black;
}
.date {
	border-bottom: .5mm solid black;
    border-left: .5mm solid black;
}
.attachment {
    border-left: .5mm solid black;
}
.note {
	min-height: 30mm;
}
.bottom-part {
    position: absolute;
    bottom: 0;
}
.redni-broj {
	width: 5mm;
}
.opis {
   width: 120mm;
}
.order-title {
    font-size: 1rem;
}
    .order-title span {

    }

/* OTPREMNICA */

.ot-opis {
    width: 91.5mm;
}
.serial {
    border-bottom: .5mm solid black;
    border-left: .5mm solid black;
}
.pay-type {
    border-left: .5mm solid black;
}
.bottom-container {
    text-align: center;
}
    .bottom-container td {
        border: none;
    }
.small-container {
    display: inline-block;
    width: 60mm;
    text-align: left;
}
.small-block {
    height: 10mm;
    width: 59mm;
    border: .5mm solid black;
}
    .small-block span {
       padding: 0 2mm;
       line-height: 10mm;
       vertical-align: middle;
    }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-smaller {
    font-size: .8rem;
    margin: .2rem 0 0;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .print-menu {
        display: none;
    }

    .paper {
        margin: 0 auto;
    }
    .header-space {
        height: 55mm;
    }
}
