<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Evolution Boilerplate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
       <!--pocetak-->
       <div class="paper">
       		<div class="content">
       			<div class="header">

                        <div class="logo-pict">
                            <img src="img/papagaj.jpg" width="100" height="100">
                        </div>

                        <div class="logo">
                            <img src="img/ermex.png">
                        </div>

                        <div class="heder-text">
                            <p><strong>Ermex d.o.o. Istočno Sarajevo</strong></p>
                        </div>
           	   </div>
           	   
		           	   <div class="under-line"> 
		                <p>PDV 400510070006, JIB 4400510070006, Registarski Osnovni sub Sokolac Br. rješenja U-860/05 U1-351</p>
		                <p>Nova Banka 5550020027664417, Unicredit Bank 5510680001826845, NLB Bank 5620120000293238</p>
		            </div>


						<div class="header full-width clearfix borders">
							       			  	<div class="payee half-width float-left text-content">
						       			  		<p><strong>Naručilac:</strong></p>
						</div>
						       			  	
					<div class="drugi-dio half-width float-right">
						       			  	
						       <div class="user full-width text-content">
						       	<p><strong>Otpremnica broj:</strong></p>
						       </div>
						       <div class="date full-width text-content">
						       	<p><strong>Datum:</strong></p>
						       </div>
						       <div class="autorr full-width text-content">
						       	<p><strong>Autor:</strong></p>
						       </div>
						       <div class="notee full-width text-content">
						       	<p><strong>Način plaćanja:</strong></p>
						       </div>
						       			  		
						     </div>	  	
			       		</div>	
			

	<table border="1" class="tableOBC borders margins">
				  	 <tr>
				    		<th class="br">Redni Broj</th>
				    		<th class="opis">Opis</th>
				    		<th class="jedinic-amjere">Jedinica mjere</th>
				    		<th class="kolicina">Količina</th>
				    		
				 	 </tr>
				  
				  		<tr>
				    		<td>1</td>
				    		<td>papir</td>
				    		<td>1kg</td>
				    		<td>1</td>
				    		
						</tr>
				
				
				
				
					</table>

				
           
       			
       			<div class="bottom-part full-width">
       				
       				<div class="note full-width borders margins text-content">
				       <p>
				         	<strong>Napomena:</strong>
						</p>
				    </div>
       				</br></br></br></br></br>
       				<div class="date-1 text-content">
                        <p>Datum:</p>
                    </div>

                    <div class="autor-1 text-content">
                        <p>Otpremio:</p>
                    </div>


                    <div class="signature text-content">
                        <p>Primio:</p>
                    </div>

       			
       				
       			</div>
       			
       			
       			
       			
       		</div>
       		
       	
       </div>
       
       <!-- kraj -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

		<script src="js/foundation.min.js"></script>
  		<!--
  		<script src="js/foundation/foundation.js"></script>
  		<script src="js/foundation/foundation.alerts.js"></script>
  		<script src="js/foundation/foundation.clearing.js"></script>
  		<script src="js/foundation/foundation.cookie.js"></script>
  		<script src="js/foundation/foundation.dropdown.js"></script>
  		<script src="js/foundation/foundation.forms.js"></script>
  		<script src="js/foundation/foundation.joyride.js"></script>
  		<script src="js/foundation/foundation.magellan.js"></script>
  		<script src="js/foundation/foundation.orbit.js"></script>
  		<script src="js/foundation/foundation.reveal.js"></script>
  		<script src="js/foundation/foundation.section.js"></script>
  		<script src="js/foundation/foundation.tooltips.js"></script>
  		<script src="js/foundation/foundation.topbar.js"></script>
  		<script src="js/foundation/foundation.interchange.js"></script>
  		<script src="js/foundation/foundation.placeholder.js"></script>
  		<script src="js/foundation/foundation.abide.js"></script>
  		-->
  
		<script>
			$(document).foundation();
		</script>
       
       
       
       
    </body>
</html>
