<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Evolution Boilerplate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
       <!--pocetak-->
       <div class="paper">
       		<div class="content">
       			
       			<p><strong>Radni nalog broj:</strong></p>
       			
       			<div class="header full-width clearfix borders">
			       			  	<div class="payee half-width float-left text-content">
			       			  		<p><strong>Naručilac:CS</strong></p>
			       			  	</div>
			       			  	
			       			  <div class="drugi-dio half-width float-right">
			       			  	
			       			  		<div class="user full-width text-content">
			       			  			<p><strong>Nalog sastavio:</strong></p>
			       			  		</div>
			       			  		<div class="date full-width text-content">
			       			  			<p><strong>Datum:</strong></p>
			       			  		</div>
			       			  		<div class="in-attachment full-width text-content text-content">
			       			  			<p><strong>U prilogu narudžbe dostavljeno:</strong></p>
			       			  		</div>
			       			  	
			       			</div>	  	
       		</div>	
       			  	
       			  
       			
       		   <div class="worker full-width borders margins text-content text-content">
       			  		<p>
       			  	  <strong>Nalog upućen na:</strong>			  	</p>
       			</div>

			<table border="1" class="table1 full-width borders margins">
				  	 <tr>
				    		<th class="br">Redni Broj</th>
				    		<th class="opis">Opis</th>
				    		<th class="cijena">Cijena</th>
				    		<th class="kolicina">Količina</th>
				 	 </tr>
				  
				  		<tr>
				    		<td>1</td>
				    		<td>papir</td>
				    		<td>1kg</td>
				    		<td>1</td>
						</tr>
						<tr>
				    		<td>1</td>
				    		<td>papir</td>
				    		<td>1kg</td>
				    		<td>1</td>
						</tr>
						
						<tr>
				    		<td>1</td>
				    		<td>papir</td>
				    		<td>1kg</td>
				    		<td>1</td>
						</tr>
			
					<tr>
				    		<td>1</td>
				    		<td>papir</td>
				    		<td>1kg</td>
				    		<td>1</td>
						</tr>
			
					
					</table>
		

            <div class="bottom-part full-width">
								<table border="1" class="table2 full-width borders margins">
								  	 <tr>
								    		<th class="br">Redni Broj</th>
								    		<th class="opis">MATERIJAL</th>
								    		<th class="kolicina">Količina</th>
								 	 </tr>
								  
								  		<tr>
								    		<td>1</td>
								    		<td>papir</td>
								    		<td>1kg</td>
								    		
										</tr>
										<tr>
								    		<td>1</td>
								    		<td>papir</td>
								    		<td>1kg</td>
								    		
										</tr>
										
										<tr>
								    		<td>1</td>
								    		<td>papir</td>
								    		<td>1kg</td>
								    		
										</tr>
							
							
							
									</table>
						
				
								<div class="date-adress full-width borders margins text-content">
				       			  	
				       			  <p><strong>Rok isporuke:</strong></p>
				       			</div>
				                       
				       			<div class="note full-width borders text-content">
				       			  		<p>
				       			  	   <strong>Napomena:</strong>
				       			  	
				       			  	</p>
				       			</div>
				</div>       			
       			
       		</div>
       		
       	
       </div>
       
       <!-- kraj -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

		<script src="js/foundation.min.js"></script>
  		<!--
  		<script src="js/foundation/foundation.js"></script>
  		<script src="js/foundation/foundation.alerts.js"></script>
  		<script src="js/foundation/foundation.clearing.js"></script>
  		<script src="js/foundation/foundation.cookie.js"></script>
  		<script src="js/foundation/foundation.dropdown.js"></script>
  		<script src="js/foundation/foundation.forms.js"></script>
  		<script src="js/foundation/foundation.joyride.js"></script>
  		<script src="js/foundation/foundation.magellan.js"></script>
  		<script src="js/foundation/foundation.orbit.js"></script>
  		<script src="js/foundation/foundation.reveal.js"></script>
  		<script src="js/foundation/foundation.section.js"></script>
  		<script src="js/foundation/foundation.tooltips.js"></script>
  		<script src="js/foundation/foundation.topbar.js"></script>
  		<script src="js/foundation/foundation.interchange.js"></script>
  		<script src="js/foundation/foundation.placeholder.js"></script>
  		<script src="js/foundation/foundation.abide.js"></script>
  		-->
  
		<script>
			$(document).foundation();
		</script>
       
       
       
       
    </body>
</html>
